<html>
<head>
<script type="text/javascript" src="https://cdn.rawgit.com/pcooksey/bibtex-js/ef59e62c/src/bibtex_js.js"></script>
</head>
<body>
<textarea id="bibtex_input" style="display:none;">
@inproceedings{Lameiro:2018aa,
	Address = {Barcelona, Spain},
	Author = {Lameiro, Christian and Santamaria, Ignacio and Schreier, Peter J.},
	Booktitle = {Proc. IEEE Wireless Comm. Networking Conf. (WCNC)},
	Month = {April},
	Title = {Performance analysis of maximally improper signaling for multiple-antenna systems},
	Year = {2018}}
	
@inproceedings{MarrinanEusipco18, 
author={T. Marrinan and T. Hasija and C. Lameiro and P. J. Schreier}, 
booktitle={Proc. European Signal Process. Conf. (EUSIPCO)}, 
title={Complete Model Selection in Multiset Canonical Correlation Analysis}, 
year={2018}, 
pages={1082-1086}, 
month={September}}
	
@InProceedings {SoleymaniSSP18,
	title = {Improper Signaling for {OFDM} Underlay Cognitive Radio Systems},
	booktitle = {Proc. IEEE Statistical Signal Processing Workshop (SSP)},
	year = {2018},
	month = {June},
	address = {Freiburg, Germany},
	author = {Mohammad Soleymani and Lameiro, Christian and Schreier, Peter J. and Santamar{\'\i}a, Ignacio}
}
	@article{Lameiro:2018ad,
AUTHOR = {Santamaria, Ignacio and Crespo, Pedro M. and Lameiro, Christian and Schreier, Peter J.},
TITLE = {Information-Theoretic Analysis of a Family of Improper Discrete Constellations },
JOURNAL = {Entropy},
VOLUME = {20},
YEAR = {2018},
NUMBER = {1},
ARTICLE-NUMBER = {45},
DOI = {10.3390/e20010045}
}
	
	@article{Lameiro:2017ab,
	Author = {Lameiro, Christian and Santamar{\'\i}a, Ignacio and Schreier, Peter J.},
	Journal = {To appear in {IEEE} {T}rans. {C}ommun.},
	Title = {Improper {G}aussian signaling for multiple-access channels in underlay cognitive radio},
	note = {Available at https://arxiv.org/abs/1711.09768},
year = {2018}}
	
	@article{Lameiro:2016ac,
	Author = {Lameiro, Christian and Santamar{\'\i}a, Ignacio and Schreier, Peter J.},
	Date-Added = {2016-12-14 08:52:37 +0000},
	Date-Modified = {2016-12-14 08:53:49 +0000},
	Journal = {ieeetcom},
	Title = {Rate region boundary of the {SISO Z}-interference channel with improper signaling},
	year={2017}, 
volume={65}, 
number={3}, 
pages={1022-1034},
month={March}}
	
</textarea>
<div id="bibtex_display">
</body>
</html>
