<html>
<head>
<script type="text/javascript" src="https://cdn.rawgit.com/pcooksey/bibtex-js/ef59e62c/src/bibtex_js.js"></script>
</head>
<body>
<textarea id="bibtex_input" style="display:none;">
@InProceedings {SoleymaniSSP18,
	title = {Improper Signaling for {OFDM} Underlay Cognitive Radio Systems},
	booktitle = {Proc. IEEE Statistical Signal Processing Workshop (SSP)},
	year = {2018},
	month = {June},
	address = {Freiburg, Germany},
	author = {Mohammad Soleymani and Lameiro, Christian and Schreier, Peter J. and Santamar{\'\i}a, Ignacio}
}
</textarea>
<div id="bibtex_display">
</body>
</html>
